@charset "UTF-8";

:root {
    --cor1: #9f7be1;
    --cor3: #a983f0;
    --cor2: #492a81;
    --cor-background: #1b1b1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-background);
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.desktop-icon {
    margin-top: 30px;
    text-align: center;
}
.desktop-icon img {
    width: 100px;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

.nav-header a {
    color: var(--cor1);
    text-decoration: none;
}
.nav-header a:hover {
    text-decoration: underline;
}

.center-container {
    text-align: center;
}

.container-1 {
    margin: 30px 30px 40px 30px;
}
.container-1 h1 {
    font-size: 48px;
    font-weight: 400;
    padding: 20px 20px 10px 20px;
}
.container-1 p {
    font-size: 18px;
    font-weight: 400;
    padding: 0 10px 20px 10px;
    line-height: 30px;
}

.btn-download {
    margin: 40px;
}
.btn {
    background-image: linear-gradient(to bottom, #8241f9, #4e277b);
    padding: 14px 26px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 550;
    text-decoration: none;
    text-align: center;
    border: 1px solid #150a27;
    border-radius: 5px;
}

.container-2 {
    margin: 30px;
    padding-top: 20px;
}

.c2-flex {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 40px;
}
.c2-d {
    width: 280px;
    line-height: 25px;
}
.c2-t {
    font-weight: 550;
}
.c2-p {
    color: #d3d3d3;
    padding: 5px;
}

.c2-final-text {
    margin-top: 20px;
}

.link-t {
    color: var(--cor3);
    text-decoration: none;
}
.link-t a:hover {
    text-decoration: underline;
}

.img-pq {
    max-width: 960px;
    width: 100%;
}